name: Auto Tag

on:
  push:
    branches:
      - main

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Git
        run: |
          git config user.name "GitHub Action"
          git config user.email "action@github.com"

      - name: Get latest tag
        id: get_tag
        run: |
          git fetch --tags
          TAG=$(git describe --tags `git rev-list --tags --max-count=1`)
          echo "::set-output name=TAG::$TAG"

      - name: Create new tag
        run: |
          NEW_TAG=$(echo ${{ steps.get_tag.outputs.TAG }} | awk -F. '{$NF++; print $0}' OFS=.)
          git tag $NEW_TAG
          git push origin $NEW_TAG
