name: Auto Tag, Build, and Release

on:
  push:
    branches:
      - master

jobs:
  tag_build_release:
    runs-on: ubuntu-latest
    steps:
      # 1. 리포지토리 체크아웃
      - name: Checkout repository
        uses: actions/checkout@v2

      # 2. Git 설정
      - name: Setup Git
        run: |
          git config user.name "GitHub Action"
          git config user.email "action@github.com"

      # 3. 최신 태그 가져오기
      - name: Get latest tag
        id: get_tag
        run: |
          git fetch --tags
          TAG=$(git describe --tags `git rev-list --tags --max-count=1` || echo "v1.0.0")
          echo "Latest tag is: $TAG"
          echo "TAG=$TAG" >> $GITHUB_ENV

      # 4. 새 태그 생성
      - name: Create new tag
        id: create_tag
        run: |
          NEW_TAG=$(echo ${{ env.TAG }} | awk -F. '{$NF++; print $0}' OFS=.)
          echo "New tag is: $NEW_TAG"
          echo "NEW_TAG=$NEW_TAG" >> $GITHUB_ENV
          git tag $NEW_TAG
          git push origin $NEW_TAG

      # 5. Python 환경 설정
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      # 6. 종속성 설치 (requests 포함)
      - name: Install dependencies
        run: |
          pip install pyinstaller requests

      # 7. 실행 파일 빌드
      - name: Build executable
        run: |
          pyinstaller --onedir --add-data=config/version.json:config main.py -y

      # 8. 릴리즈 생성 (파이썬 스크립트 사용) 및 업로드 URL 저장
      - name: Create Release and Update version.json
        id: create_release
        env:
          DURI_TOKEN: ${{ secrets.DURI_TOKEN }}
          NEW_TAG: ${{ env.NEW_TAG }}
        run: |
          python3 config/create_release.py

      # 9. 빌드된 파일을 릴리즈에 업로드
      - name: Upload Executable to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.DURI_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist/main
          asset_name: "my_app_v${{ env.NEW_TAG }}.zip"
          asset_content_type: application/zip
